.order-list {
  h2, p {
    color: #ffffff;
  }

  .order-item-popup {
    h2, p {
      color: #000000;
    }
  }

  button.new-order {
    margin: 30px 0;
  }
  label {
    color: #ffffff;
    padding-right: 15px;
    margin-bottom: 30px;
  }
}